<!DOCTYPE html>
<html>
  <head>
    <title>EXPRESS LAB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = 'container'>
      <div class = 'nav'></div>
      <div class ='developerskills'>
        <h3>CHECK DEVELOPER SKILLS</h3>
      </div>
      <div class = 'item'>
        <h4>CLICK THE SKILLS LIST BUTTON <br>
          TO EDIT YOUR DEVELOPER SKILLS</h4>
        <button>
          <a href="/skills">SKILLS LIST</a>
        </button>
      </div>
      <div class = 'lowerbar'></div>
    </div>
  </body>
</html>
